bolchaal.sahilahluwalia.com {
	redir https://www.bolchaal.sahilahluwalia.com{uri}
}

www.bolchaal.sahilahluwalia.com {
	encode zstd gzip

	@websocket {
		path /ws*
		header Connection *Upgrade*
		header Upgrade websocket
	}
	handle @websocket {
		reverse_proxy backend:3006
	}

	# tRPC HTTP endpoint is served under /api
	handle_path /api/* {
		reverse_proxy backend:3005
	}

	# Next.js web app
	reverse_proxy web:3000
}